body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f3f3f3;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(36, 35, 35);
}

.App-header p {
  /*color: #27aae1;*/
  color: #092b3a;
  font-size: larger !important;
  font-weight: lighter;
  letter-spacing: 2pt;
  text-align: center;
}

.App-link {
  color: #27aae1;
}
.bsmall {
  margin-top: 50px;
  font-size: 1.25rem !important;
  padding: 0.05rem 1rem !important;
  float: right !important;
  margin-right: 10px;
  margin-left: 10px;
}

.button-53 {
  background-color: #27aae1;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: 2pt;
  justify-content: center;
  line-height: 4.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  max-width: 360px;
  position: relative;
  cursor: pointer;
  /*transform: rotate(-2deg);*/
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition-duration: 200ms;
}

.button-53:hover:after {
  bottom: -4px;
  left: -4px;
  transition-duration: 200ms;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 2.25rem;
  }
}

.Footer {
  width: 90vw;
  height: 7vh;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 3vh;
  background-color: #f3f3f3;
  text-align: right;
  color: #97b1bd;
}

.App-logo {
  height: calc(100% - 1px);
  pointer-events: none;
}

.hide {
  display: none;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/

  min-width: 200px;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/

  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */

  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  align-items: center;
  display: block;
  width: 80%;
  height: 50px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.water_input_div_left {
  float: left;
  height: 50px;
  margin: 5px 0px;
  border: 1px solid #cccccc;
}
.water_input_div_right {
  float: left;
}

#summary_div {
  text-align: center;
}

.logoSmall {
  width: 8vh;
  margin-top: 14px;
  margin-bottom: 14px;
}

.number_of_water_meter {
  color: #ffffff;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

.cw {
  background-color: #d40000;
}
.zw {
  background-color: #27aae1;
}
